
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
        integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"
        integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .bannerWrapper {
            position: relative;
        }
        .bannerImage img {
            /* height: 720px; */
            width: 100%;
        }

        .bannerDetails a {
            color: #fff;
            border: 1px solid #fff;
            font-size: 16px;
            text-decoration: none;
            padding: 1.2rem 3rem 1.1rem;
        }

        .bannerDetails {
            z-index: 9;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: {{block.settings.color}};
            padding: 4rem;
            width: 54.8rem;
        }
        /* .bannerImage{
            background-repeat: no-repeat;
            background-size: cover !important;
        } */
        .bannerContent {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .bannerDetails h1 {
            font-size: 35px;
            margin-bottom: 10px;
            text-align: center;
        }

        .bannerDetails p {
            font-size: 16px;
            margin: 10px 0 0;
            text-align: center;
        }
        .slick-slide {
            -webkit-backface-visibility: hidden;
        }
        .slick-dots li button:before {         
            font-size: 11px;
            color: white;
        }
        .slick-dots li.slick-active button:before{
             color: white;
        }
        .slick-dots{
            bottom: 25px;
        }
        .btn-wrap{
            display: flex;
            max-width: 45rem;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: center;
            margin-top: 3rem;
            /* transform: translate(1rem); */
            gap: 20px;
        }
        .banners{
            position: relative;
        }
        @media all and (min-width: 750px) {
            .banners{
                min-height: 72rem;
            }
            .banners::after {
            content: '';
            padding-bottom: 40.0%;
            content: '';
            display: block;
        }
        .bannerImage {
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            width: 100%;
        }
        .bannerImage::before {
            content: '';
            padding-bottom: 40.0%;
            content: '';
            display: block;
        }
        .bannerImage img {
            display: block;
            max-width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
            transition: opacity .4s cubic-bezier(.25,.46,.45,.94);
            aspect-ratio: auto 4000 / 1600;
        }
        }
        .banners .bannerContent{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        @media all and (max-width: 1024px){
            .banners .bannerContent{
                position: static;
                transform: unset;
            }
            
        }
        @media all and (max-width: 600px){
            /* .banners .bannerContent{
                position: static;
                transform: unset;
            }  */
            .bannerDetails a {
                /* flex-grow: 1; */
                display: block;
                margin-bottom: 20px;
                text-align: center;
                font-size: 15px;
             }
             .btn-wrap {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                align-items: baseline;
                justify-content: center;
                gap: 20px;
                flex-wrap: nowrap;
                transform: none;
            }
            .bannerContent{
                align-items: end;
            }
            .bannerImage {
                background-size: 100% !important;
                height: auto;
                /* padding-top: 180px; */
            }
            /* ul.slick-dots {
                display: none !important;
            } */
            .slick-dots li button:before {
                color: #000 !important;
            }
            .bannerDetails h1{
                font-size: 33px;
            }
            .bannerDetails p{
                font-size: 15px;
            }
            button.slick-arrow {
                display: none;
            }
        }
        @media all and (max-width: 390px){
            .bannerDetails a {
                padding: 1.2rem 2rem 1.1rem;
            }
            .btn-wrap{
                flex-direction: column;
                gap: 0;
                width: 100%;
            }
            .bannerDetails a {
                width: 100%;
            }
        }
    </style>

    <section class="banner">
        <div class="bannerWrapper">
            {% for block in section.blocks %}    
            <div class="banners">
                <div class="bannerImage">
                <img src="{{block.settings.image | img_url: 'master'}}" alt="">
            </div>
                <!-- <div class="bannerOverlay"></div> -->
            {% if block.settings.heading != blank %}
            <div class="bannerContent" style="top: {{ block.settings.desktop_text_box_pos }}%;">
                <div class="bannerDetails" style="background-color: {{block.settings.bgcolor}};">
                    <h1 style="color: {{block.settings.color}};">{{block.settings.heading}}</h1>
                    <p style="color: {{block.settings.color}};">{{block.settings.para}}</p>
                    <div class="btn-wrap">
                        {% if block.settings.btn-text != blank %}
                        <a class="btn-1" style=" color: {{block.settings.btn1color}}; border: 1px solid {{block.settings.btn1color}}; background-color: {{block.settings.btn1bgcolor}};" href="{{block.settings.btn-link}}">{{block.settings.btn-text}}</a>
                        {% endif %}
                        {% if block.settings.btn2-text != blank %}
                        <a class="btn-2" style=" color: {{block.settings.btn2color}}; border: 1px solid {{block.settings.btn1color}}; background-color: {{block.settings.btn2bgcolor}};" href="{{block.settings.btn2-link}}">{{block.settings.btn2-text}}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            </div> 
            
            
            {% endfor %}
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $('.bannerWrapper').slick({
            dots: {{section.settings.dots}},
            infinite: true,
            speed: 800,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay:{{section.settings.autoplay}},
            autoplaySpeed: {{section.settings.autoplay-speed}},
            pauseOnHover: false,
            // cssEase: 'linear',
            cssEase: 'ease-in-out',
            arrows: false,
            adaptiveHeight: true,
            fade: true,
        });
    </script>


{% schema %}
{
  "name": "Banner Slider",
  "max_blocks": 12,
 "settings": [
    {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Autoplay",
        "default": true
    },
    {
        "type": "checkbox",
        "id": "dots",
        "label": "Enable Dots",
        "default": true
    },
    {
        "type": "range",
        "id": "autoplay-speed",
        "label": "Autoplay Speed",
        "min": 1000,
        "max": 9000,
        "step": 1000,
        "default": 7000
    }  
 ],
  "blocks": [
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
       {
           "type": "image_picker",
           "id": "image",
           "label": "Banner Image"
       },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
       {
           "type": "text",
           "id": "para",
           "label": "Sub Heading"
       },
        {
            "type": "color",
            "id": "color",
            "label": "Text Color",
            "default": "#000"
        },
        {
            "type": "color",
            "id": "bgcolor",
            "label": "Text Background Color",
            "default": "#fff"
        },
        {
            "type": "select",
            "id": "desktop_text_box_pos",
            "options": [
              {
                "value": "30",
                "label": "Top"
              },
              {
                "value": "50",
                "label": "Center"
              },
              {
                "value": "70",
                "label": "Bottom"
              }
            ],
            "default": "50",
            "label": "Content Position"
          },
       {
           "type": "header",
           "content": "First Button Settings"
       },
       {
           "type": "color",
           "id": "btn1color",
           "label": "Text Color"
       },
       {
            "type": "color",
            "id": "btn1bgcolor",
            "label": "Background Color"
        },
        {
            "type": "text",
            "id": "btn-text",
            "label": "Button Label"
        },
        {
          "type": "url",
          "id": "btn-link",
          "label": "Button Link"
        },
        {
            "type": "header",
            "content": "Second Button Settings"
        },
        {
            "type": "color",
            "id": "btn2color",
            "label": "Text Color"
        },
        {
             "type": "color",
             "id": "btn2bgcolor",
             "label": "Background Color"
         },
         {
             "type": "text",
             "id": "btn2-text",
             "label": "Button Label"
         },
         {
           "type": "url",
           "id": "btn2-link",
           "label": "Button Link"
         }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner Slider",
      "settings": {
        
      }
    }
    ]
}
{% endschema %}